# Python
__pycache__/
*.pyc
.venv/
venv/

# Trained model artifacts (large binary files - don't commit to Git)
model/*.keras
model/*.h5
model/*.png
model/label_mapping.json

# EMNIST cache created by the `emnist` package
.cache/
*.zip

# OS / Editor
.DS_Store
.vscode/
.idea/
